<!DOCTYPE html>

<!--
##################################################################
graficador.html
Autor: Tomas Galvez
Para: CEAB, UVG, Guatemala
Creado en agosto 2018
Última modificación: 24/08/2018

Frontend para web app de prueba graficadorSencillo.py.
##################################################################
-->

<html>
	<body>
		<h1>Bienvenid@</h1>
		{% if nombre %}
			<h2>{{ nombre }}</h2>
		{% endif %}
		<form action = "#grafica">
			<div class = "opciones">
				<p>Elija la tabla que desea consultar: </p>
				<select name = "table">
					{% for t in tablas %}
						<option {% if tabla and t == tabla %} selected {% endif %}>{{ t }}</option>
					{% endfor %}
				</select>
				<p>Elija la variable que desea graficar:</p>
				<select name = "xvar">
					{% for var in variables %}
						<option {% if variable and var == variable %} selected {% endif %}>{{ var }}</option>
					{% endfor %}
				</select>
				<br/>
				<p>Elija la periodicidad de la gráfica:</p>
				<select name = "yvar">
					{% for per in periodos %}
							<option {% if periodo and per == periodo %} selected {% endif %}>{{ per }}</option>
					{% endfor %}
				</select>
			</div>
			{% if nombre %}
				<input type = "hidden" name = "nombre" value = "{{ nombre }}"/>
			{% endif %}
			<br/>
			<input type = "submit" value = "Graficar!"/>
		</form>
		{% if graficamos %}
			<h3>La grafica (chan chan chaaan):</h3><br/>
			<img src="data:image/png;base64,{{ graficamos }}"/>
		{% endif %}
	</body>
</html>